body {
	margin-bottom: 1rem;
}

.gray {
	color: gray;
}

.green {
	color: #0A0;
}

.red {
	color: #A00;
}

.italic {
	font-style: italic;
}

.smallCaps {
	font-variant: small-caps;
}

tr {
	cursor: pointer;
}

div.alert-box {
	border-radius: 5px;
	box-shadow: 0 1px 2px #cccccc;
	padding: 15px;
	text-shadow: none !important;
}

.alert-box.info {
	background-color: #E6F5FD;
	color: #333;
	border: 1px solid #B2C8FF;
}

.alert-box.success {
	background-color: #DFD;
	color: #333;
	border: 1px solid #AFA;
}

.alert-box.error {
	background-color: #FFE0E0;
	color: #333;
	border: 1px solid #F99;
}

.alert-box.warning {
	background-color: #FFA;
	color: #333;
	border: 1px solid #FF0;
}

.row {
	max-width: 100%;
}

div#topbar {
	background: #222;
	height: 48px;
	padding: 2px 20px 0px 20px;
	margin-bottom: 15px;
}

div#topbar span {
	line-height: 43px;
}

div#topbar span a {
	color: #DDDDDD;
	margin: 0 15px;
	text-decoration: none;
	font-size: 15px;
	font-size: 1.5rem;
}

div#topbar span a:hover {
	color: white;
}

div#topbar span a#logo {
	font-family: 'IM Fell English SC', cursive;
	font-size: 30px;
	font-size: 3rem;
	margin-left: 5px;
}
